.planets{
    margin-left: 500px;
}

#title_text{
    font-family: "Arial Black";
    margin-left: 250px;
}

@keyframes MoveUpDown {
    0% {
        bottom: 350px;
    }
    50% {
        bottom: 500px;
    }
    100% {
        bottom: 350px;
    }
}

#sun {
    width: 1000px;
    height: 1000px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    background: #ffca25;
    cursor: pointer;
    display:inline-block;


    position: absolute;
    left: -700px;
    bottom: -100px;
}

#mercury {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff7b1;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 350px;
    bottom: 350px;
    animation-delay: 0.5s;

}

#venus {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #ffd566;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 450px;
    bottom: 450px;
    animation-delay: 1s;
}

#earth {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #6cd758;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 550px;
    bottom: 550px;
    animation-delay: 2s;
}


#mars {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #c00000;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 650px;
    bottom: 650px;

}

#jupitar {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #fff1df;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 700px;
    bottom: 700px;
    animation-delay: 0.5s;
}

#saturn {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    background: #e0c279;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 950px;
    bottom: 950px;
    animation-delay: 1s;
}

#uranus {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #79e8e1;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 1150px;
    bottom: 1150px;
}

#neptune {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #6a9fff;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 1300px;
    bottom: 1300px;
    animation-delay: 2s;
}

#pluto {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eef2ff;
    cursor: pointer;
    display:inline-block;

    animation: MoveUpDown 3s linear infinite;
    position: absolute;
    left: 1450px;
    bottom: 1450px;
    animation-delay: 3s;
}

#textBox{
    width: 60%;
    border: 5px solid #dff8ff;
    padding: 20px;
    margin: 25px;
    margin-top: 400px;
    margin-left: 400px;
    margin-right: 0;
    display:none;
}

#background_planets{
    background-image: url(../images/stars.jpg);
}