#planets{
    margin-left: 500px;
}

#sun {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #ffca25;
    cursor: pointer;
    display:inline-block;
}

#mercury {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff7b1;
    cursor: pointer;
    display:inline-block;
}

#venus {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #ffd566;
    cursor: pointer;
    display:inline-block;
}

#earth {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #6cd758;
    cursor: pointer;
    display:inline-block;
}


#mars {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #c00000;
    cursor: pointer;
    display:inline-block;
}

#jupitar {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #fff1df;
    cursor: pointer;
    display:inline-block;
}

#saturn {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #e0c279;
    cursor: pointer;
    display:inline-block;
}
#background_planets{
    background-image: url(../images/stars.jpg);
}
#uranus {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #79e8e1;
    cursor: pointer;
    display:inline-block;
}

#neptune {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #6a9fff;
    cursor: pointer;
    display:inline-block;
}

#pluto {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eef2ff;
    cursor: pointer;
    display:inline-block;
}

#textBox{
    width: 80%;
    border: 5px solid #dff8ff;
    padding: 70px;
    margin: 25px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display:none;
}